/node_modules
/frontend/node_modules
/public/hot
/storage/app/alliance-partners
/public/storage
/public/images
/public/js/chunks
/public/js/app.js
/public/files
/public/css/app.css
/storage/*.key
/vendor
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode